.container{
    font-family:  sans-serif;
    background-color: aliceblue;
}
.imageCon{
    padding-top: 20px;
}
.cateHead{
    padding-top: 40px;
    font-weight: bolder;
    text-align: center;
    color: rgb(156,109,74);
    padding-bottom: 20px;
}
.itemName{
    font-size: 15px;
    counter-reset: #5b5b5b;
    font-weight: bold;
}
.container div{
 cursor: pointer;
}

